<div class="row pull-right">
    <a href="{{ path('portfel_edycja', {'idUmowy': app.request.get('idUmowy'), 'idSpolki': dt_obj.id }) }}"
       class="btn btn-sm btn-warning"
       role="button"><span class="glyphicon glyphicon-edit"></span>&nbsp;Edycja</a>
</div>
