{% extends "SsfzBundle::baseLayout.html.twig" %}

{% block body %}
    <div id="login-form" class="col-md-12">    
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <p>Klucz aktywacyjny został wykorzystany lub wygasł.</p>
        </div>
    </div>
{% endblock %}
