{# Temat wiadomości #}
{% block subject %}Nie odnotowano złożenia sprawozdania z realizowanego projektu w ramach Działania 3.1 PO IG{% endblock subject %}

{# Wiadomość w formacie HTML #}
{% block body_html %}
    <html>
    <head></head>
    <body>
        <p>Nie odnotowano złożenia sprawozdania za realizowane w ramach Działania 3.1 PO IG projektu nr <strong>{{ nrUmowy }}</strong>, na którego złożenie termin upłynął w dniu <strong>{{ dzien }}</strong>.</p>
        <p>Beneficjenci Działania 3.1 PO IG zobowiązani są do cyklicznej sprawozdawczości z portfela spółek oraz przepływów pieniężnych i niedochowanie tego obowiązku może być podstawą do rozwiązania umowy o dofinansowanie. W razie niemożności przesłania sprawozdania proszę o kontakt z pracownikiem PARP.</p>
    </body>
    </html>
{% endblock body_html %}

{# Wiadomość w formie czystego tekstu - dla starszych programów pocztowych #}
{% block body_txt %}
Nie odnotowano złożenia sprawozdania za realizowane w ramach Działania 3.1 PO IG projektu nr {{ nrUmowy }}, na którego złożenie termin upłynął w dniu {{ dzien }}.

Beneficjenci Działania 3.1 PO IG zobowiązani są do cyklicznej sprawozdawczości z portfela spółek oraz przepływów pieniężnych i niedochowanie tego obowiązku może być podstawą do rozwiązania umowy o dofinansowanie. W razie niemożności przesłania sprawozdania proszę o kontakt z pracownikiem PARP.

{% endblock body_txt %}
