<div class="row pull-right">
    {% if dt_obj.beneficjent.program.czyJestPortfelSpolek %}
        <a href="{{ path('portfel_dodanie', {'idUmowy': dt_obj.id}) }}"
            class="btn btn-sm btn-warning" role="button"
        >
            <span class="glyphicon glyphicon-folder-open"></span>&nbsp;Portfel spółek
        </a>
        <a href="{{ path('sprawozdanie_rejestracja', {'umowaId': dt_obj.id}) }}"
            class="btn btn-sm btn-info" role="button"
        >
            <span class="glyphicon glyphicon-usd"></span> Sprawozdania
        </a>
    {% else %}
        <a href="{{ path('lista_sprawozdan_spo', {'umowa': dt_obj.id}) }}"
            class="btn btn-sm btn-info" role="button"
        >
            <span class="glyphicon glyphicon-usd"></span> Sprawozdania
        </a>
    {% endif %}
</div>
