{% extends "SsfzBundle::baseLayout.html.twig" %}

{% block body %}
    <div id="login-form" class="col-md-12">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            Konto zostało zarejestrowane.<br>
            W celu aktywacji sprawdź skrzynkę pocztową i postępuj zgodnie z instrukcjami.
        </div>
    </div>
{% endblock %}
