/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/node_modules/
/bin/
/nbproject/
/web/bundles/
/web/js/
/web/css/
/web/fonts/
/web/webfonts/
yarn-error.log
/composer.phar
/*.phar
