{% extends 'SsfzBundle::baseLayout.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Sprawozdanie do umowy {{ sprawozdanie.numerUmowy }} za okres {{ sprawozdanie.okres }} {{ sprawozdanie.rok }}</h4></div>
        <div class="panel-body">

            {% include 'SsfzBundle:Parp:sprawozdanie_form.html.twig' with {'form_okresy': form_okresy, 'form_przeplywy_finansowe': form_przeplywy_finansowe} %}

            {% if sprawozdanie.umowa.beneficjent.program.czyFunduszPozyczkowy() and dane_pozyczek|default(null) is not empty %}
                 {% include 'SsfzBundle:Sprawozdanie:dane_pozyczek_odczyt.html.twig' with {'dane_pozyczek': dane_pozyczek} %}
            {% endif %}

            {% if sprawozdanie.umowa.beneficjent.program.czyFunduszPoreczeniowy() and dane_poreczen|default(null) is not empty %}
                 {% include 'SsfzBundle:Sprawozdanie:dane_poreczen_odczyt.html.twig' with {'dane_poreczen': dane_poreczen} %}
            {% endif %}

            <a href="{{ path('parp') }}"
               class="btn btn-danger pull-right"
               role="button"><span class="fas fa-chevron-left"></span> Powrót</a>
        </div>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}
