parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: ssfz
    database_user: ssfz
    database_password: ~

    mailer_transport: smtp
    mailer_host: beta.parp.gov.pl
    mailer_port: 587
    mailer_user: ~
    mailer_password: ~
    mailer_encryption: tls

    # Zawartość pola "From" w przesyłkach z powiadomieniem  
    powiadomienie_nadawca: "test@test.test (=?utf-8?Q?PARP - System Sprawozdawczo=C5=9Bci Funduszy Zal=C4=85=C5=BCkowych?=)"

    secret: ThisTokenIsNotSoSecretChangeIt

    # LDAP-AD
    # Uwaga! Po uzupełnieniu nazwy użytkownika można usunąć jeden znak "@" (podwójny znak
    # zabezpiecza przed uznaniem niepełnej nazwy użytkownika za nazwę usługi wg. konwencji nazw Sf2.
    ldap:
        host: "srv-adc01.parp.local"
        port: 389
        networkTimeout: 10
        allowEmptyPassword: false
        username: @@parp.local
        password: ""
        bindRequiresDn: false
        accountDomainName: parp.local
        baseDn: "OU=Zespoly_2016,OU=PARP Pracownicy,DC=parp,DC=local"
    ldap_version: 3
    ldap_ssl: false
    ldap_tls: false
    # pole LDAP bedące loginem użytkownika
    ldap_uid_key: 'samaccountname'
    # Szablon określający to co jest podawane podczas logowania LDAP jako nazwa użytkownika w {username} jest wpisywane to co użytkownik podaje w formularzu logowania
    ldap_user_dn_string: "CN={username},OU=Zespoly_2016,OU=PARP Pracownicy,DC=parp,DC=local"
    default_password_encoder: bcrypt

    jasper_host: http://localhost:8080/jasperserver
    jasper_user: jasperadmin
    jasper_password: jasperadmin
    jasper_org_id:
    jasper_ssfz_report_path: '/reports/parp'

    # Parametry bazy danych do testów
    test_database_host: 127.0.0.1
    test_database_port: ~
    test_database_name: ssfz_test
    test_database_user: ssfz_test
    test_database_password: ~