#login-form{
    padding-top: 50px;
}

#password-label {
    padding-top: 15px;
}

#form-submit-div {
    padding-top: 20px;
}

.submit-button:hover{
    color: white;
    background-color: orangered;
}

.orange-button {
    color: #FFFFFF;
    background-color: orangered;
}


a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.btn-static {
  pointer-events: none;
}

.width-date {
    width: 100px;
}

.width-xshort {
    width: 100px;
}

.width-short {
    width: 150px;
}

.width-medium {
    width: 250px;
}

.width-long {
    width: 500px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.btn-toolbar {
    padding-right: 20px;
}

td.etykieta {
    text-align: right;
    font-weight: bold;
    width: 200px;
}
